<footer class="footer">
  <small>
    <a <%= Settings.footer.rails_link %>><%= t ".rails_link" %></a>
    <%= t ".by" %>
    <%= link_to t(".michale_link"), Settings.footer.michale_link %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.footer.rails_news_link %></li>
    </ul>
  </nav>
</footer>
