<%= form_with(model: member, html: {class: "row g-3"}) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Câu hỏi" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <h3>Các câu trả lời</h3>
  <div id="posts">
    <%= form.fields_for :posts do |post| %>
      <%= render "post_fields", f: post %>
    <% end %>
  <%= link_to_add_association 'Thêm bài post', form, :posts, class: "btn btn-primary" %>
  <p class="count">Total: <span><%= @member.posts.count %></span></p>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
